{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>Add Course</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'instructorHome.js' %}" defer></script>
  </head>
  
  <style>
    .hidden {
      display: none
    }
  </style>

  <body>
      
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> Add Course </div> 
        <button class = "button" id = "profile-button" value = "-1">My Profile</button>
        <a class="button" id = "home-button" href="/instructorHome">Back To Home</a>
      </div>
    </div>
    
    {% block content %}
    <form method="post">{%csrf_token %}
        {{courseForm.as_p}}
        {% if discussionForm %}
        <h3>Discussion groups</h3>
        {{discussionForm.management_form}}
        <div id="discussion-form-list">
        {% for form in discussionForm %}
          <div class="discussion-form">
            {{form.as_p}}
          </div>
        {% endfor %}
        </div>
        <div id = "empty-discussion-form" class="hidden">{{discussionForm.empty_form.as_p}}</div>
        <button id="add-more-discussion" type="button">Add Discussion</button>
        <button id="remove-discussion" type="button">Remove Discussion</button>
        {% endif %}
        <h3>Publish</h3>
        <input type="submit" value="Publish">
      </form>
    {% endblock %}
    
  </body>

  <script>
    const addDisccusionButton = document.getElementById("add-more-discussion");
    const totalNewForms = document.getElementById("id_form-TOTAL_FORMS");
    
    addDisccusionButton.addEventListener('click', add_new_discussion);

    function add_new_discussion(args)
    {
      if (event)
      {
        event.preventDefault();
      }
      
      const currentDiscussionForms = document.getElementsByClassName("discussion-form");
      let currentdiscussionFormCount = currentDiscussionForms.length;
      const discussionCopyTarget = document.getElementById("discussion-form-list");
      //discussionCopyTarget.style.display = 'inline'
      const copyEmptyDiscussionForm = document.getElementById("empty-discussion-form").cloneNode(true);
      copyEmptyDiscussionForm.setAttribute('class', "discussion-form");
      copyEmptyDiscussionForm.setAttribute('id', `discussionForm-${currentdiscussionFormCount}`);
      const regex = new RegExp("__prefix__", 'g');
      copyEmptyDiscussionForm.innerHTML = copyEmptyDiscussionForm.innerHTML.replace(regex, currentdiscussionFormCount);
      totalNewForms.setAttribute("value", currentdiscussionFormCount+1);
      discussionCopyTarget.append(copyEmptyDiscussionForm);
      
    }

  </script>
  
  <script>
      const removeDiscussionButton = document.getElementById("remove-discussion");
      
      removeDiscussionButton.addEventListener('click', remove_discussion);
      var div = document.getElementById("discussion-form-list");

      function remove_discussion(args)
      {
        div.remove()

        
      }
  
    </script>

</html>