{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>Edit Course</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'adminHome.js' %}" defer></script>
  </head>
  
  <style>
    .hidden {
      display: none
    }
  </style>

  <body>
      
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> Edit Course </div> 
        <!-- <button class = "button" id = "profile-button" value = "-1">My Profile</button> -->
        {% url 'profile_view_a' request.user.username as profile_url %}
        <a class = "button" id = "profile-button" href="{{profile_url}}">My Profile</a>
        <a class="button" id = "home-button" href="/adminHome">Back To Home</a>
      </div>
    </div>
    
    {% block content %}
    <h3>Delete</h3>
    <form action="{% url 'courseDeleteViewAdmin' course.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Course">
    </form>
    <h3>Edit</h3>
    <form method="post">{%csrf_token %}
        {{courseForm.as_p}}
        
        <h3>Publish</h3>
        <input type="submit" value="Publish Changes">
    </form>
    {% endblock %}
    
  </body>
</html>