{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>View Applications</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'instructorHome.js' %}" defer></script>
  </head>
  
  <body>
      
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> Ta Application - Instructors </div> 
        <button class = "button" id = "profile-button" value = "-1">My Profile</button>
        <a class="button" id = "home-button" href="/instructorHome">Back To Home</a>
      </div>
    </div>
  
    {% block content %}
    
    <h2>Applications for {{course.courseName}} {{course.courseNumber}}/{{course.courseSection}} with Professor {{course.instructor}}</h2>
    <br> <br>

      {% for application in course_applications %}
      <div class = "application-list" id = "c2">
        <div class = "row">
          {{application.name}} - {{application.eagleID}}
          <br>
          Course history - {{application.courseHistory}}
          <br>
          Interest - {{application.interest}}
          <br>
          Relevant experience - {{application.experience}}
        </div>
      </div>
      {% endfor %}
    <br>
    {% endblock %}
  </body>
</html>