{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>TA Applications</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'instructorHome.js' %}" defer></script>
  </head>

  <style>
    #logOut-button{
    background-color: #8a100b;
    border-color: white;
    }

    .accept-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 16px;
    }

    .reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
   }
  </style>

{% block content %}
  <body>
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> TA application - Instructors </div> 
        <span class="header">Hello, {{request.user.first_name}} {{request.user.last_name}}</span>
        <a class = "button" id = "logOut-button" href='/logOut'>Log Out</a>
        {% url 'profile_view_i' request.user.username as profile_url %}
        <a class = "button" id = "profile-button" href="{{profile_url}}">My Profile</a>
        <a class="button" id = "add-button" href="/add-course-form">Add Course</a>
      </div>
      
      <div class = "row" id = "second-bar"> Keywords
          <input type="text" placeholder="Search..">
          <button class = "button" id = "search-button" value = "-1">Search</button>
      </div>
      
      <!-- Main Section -->
      <div class = "row" id = "third-bar">
        
        <div class = "column column-20">
          
          <div class = "row center">
            <button class = "button" id = "filter-button" value = "-1">Apply to Search</button>
          </div>
          
          <div class = "row center" id = "filters">
            <div class = "filters" id = "content">
            </div>
          </div>
        </div>
        
        
        <div class = "column column-80" id = "courses">
          
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'all-courses')" id = "defaultOpen">All Courses</button>
            <button class="tablinks" onclick="openCity(event, 'favorites')">My Courses</button>
            <button class="tablinks" onclick="openCity(event, 'review-apps')">Review Applications</button>
          </div>

          <!-- Tab content -->
          <div id="all-courses" class="tabcontent">
         

            {% for course in all_courses %}
            <div class = "course" id = "c2">
              <div class = "row">
                <h3><strong>CSCI {{ course.courseNumber}} {{ course.courseName }}</strong></h3>
                {% if course.status %}
                  <button class = "status-button" id = "status-button2">Open</button>
                {% else %}
                  <button class = "status-button" id = "closed-button">Closed</button>
                {% endif %}
              </div>
              <h4>{{ course.instructor }}</h4>
              <h4>
                {% for day in course.days %}
                  {% if day == "0" %}
                    M
                  {% endif %}
                  {% if day == "1" %}
                    T
                  {% endif %}
                  {% if day == "2" %}
                    W
                  {% endif %}
                  {% if day == "3" %}
                    Th
                  {% endif %}
                  {% if day == "4" %}
                    F
                  {% endif %}
                  {% if day == "5" %}
                    Sat
                  {% endif %}
                  {% if day == "6" %}
                    Sun
                  {% endif %}
                {% endfor %}
                {{ course.startTime|date:'H:i'}}-{{course.endTime|date:'H:i'}}</h4>
              {{ course.courseDescription }}
              <br>
              <br>
              <h4>For applying TAs</h4>
              {{course.relevantInfo}}
              <br>
              <br>
              <div class = "row" id = "info">
                Discussion Section: {{course.hasDiscussion|yesno:"Yes,No" }} &nbsp &nbsp &nbsp Number of TAs: {{course.numberOfTAs}} &nbsp &nbsp &nbsp Grading Meetings: {{course.homeworkGradedInMeetings|yesno:"Yes,No"}} &nbsp &nbsp &nbsp Number of Office Hours per Week: {{course.officeHoursPerWeek}}
              </div>
            </div>
            {% endfor %}
  
         
          </div>

          <div id="favorites" class="tabcontent">
            {% for course in user_courses %}
            <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI {{ course.courseNumber}} {{ course.courseName }}</strong></h3>
                <button class = "status-button" id = "status-button">Open</button>
                  {% url 'applicationView' course.id as the_url %}
                  {{the_url}}
                 <!-- currently creating a button for every application -->
                  {% if the_url %}
                  <a class="button" id = "apply-button" href="{{ the_url}}">View Applications</a>
                  {% endif %}

                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>{{ course.instructor }}</h4>
              <h4>
                {% for day in course.days %}
                  {% if day == "0" %}
                    M
                  {% endif %}
                  {% if day == "1" %}
                    T
                  {% endif %}
                  {% if day == "2" %}
                    W
                  {% endif %}
                  {% if day == "3" %}
                    Th
                  {% endif %}
                  {% if day == "4" %}
                    F
                  {% endif %}
                  {% if day == "5" %}
                    Sat
                  {% endif %}
                  {% if day == "6" %}
                    Sun
                  {% endif %}
                {% endfor %}
                {{ course.startTime|date:'H:i'}}-{{course.endTime|date:'H:i'}}</h4>
              {{ course.courseDescription }}
              <br>
              <br>
              <h4>For applying TAs</h4>
              {{course.relevantInfo}}
              <br>
              <br>
              <div class = "row" id = "info">
                Discussion Section: {{course.hasDiscussion|yesno:"Yes,No" }} &nbsp &nbsp &nbsp Number of TAs: {{course.numberOfTAs}} &nbsp &nbsp &nbsp Grading Meetings: {{course.homeworkGradedInMeetings|yesno:"Yes,No"}} &nbsp &nbsp &nbsp Number of Office Hours per Week: {{course.officeHoursPerWeek}}
                {% url 'courseEditView' course.id as the_url %}
                {% if the_url %}
                  <a class="button" id = "apply-button" href="{{ the_url}}">Edit</a>
                {% endif %}
              </div>

            </div>
            {% endfor %}
          </div>
          <div id="review-apps" class="tabcontent">
                       
            {% for application in all_applications %}
      
            <div class = "application-list" id = "c2">
              <div class = "row">
                Course - {{application.course}}
                <br>
                {{application.name}} - {{application.eagleID}}
                <br>
                Course history - {{application.courseHistory}}
                <br>
                Interest - {{application.interest}}
                <br>
                Relevant experience - {{application.experience}}
                <a href="{% url 'accept_application' application.id %}" class="accept-button">Accept</a>
                <button class="reject-button">Reject</button>
                
              </div>
            </div>
            {% endfor %}
          </div>
          {% endblock %}
        </div>

          
          
          
          
        </div>
        
      </div>
      
    </div>
    
    
    
  </body>
</html>
