{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>TA Applications</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'studentHome.js' %}" defer></script>
  </head>

  <style>
    #logOut-button{
    background-color: #8a100b;
    border-color: white;
    }
  </style>

  <body>
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> TA application - Students </div> 
        <span class="header">Hello, {{request.user.first_name}} {{request.user.last_name}}</span>
        <a class = "button" id = "logOut-button" href='/logOut'>Log Out</a>
        <button class = "button" id = "profile-button" value = "-1">My Profile</button>
        <!--<a class="button" id = "add-button" href="add-course.html">Add Course</a>-->
      </div>
      
      <div class = "row" id = "second-bar"> Keywords
          <input type="text" placeholder="Search..">
          <button class = "button" id = "search-button" value = "-1">Search</button>
      </div>
      
      <!-- Main Section -->
      <div class = "row" id = "third-bar">
        
        <div class = "column column-20">
          
          <div class = "row center">
            <button class = "button" id = "filter-button" value = "-1">Apply to Search</button>
          </div>
          
          <div class = "row center" id = "filters">
            <div class = "filters" id = "content">
            </div>
          </div>
        </div>
        
        
        <div class = "column column-80" id = "courses">
          <!-- Tabs -->
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'all-courses')" id = "defaultOpen">All Courses</button>
            <button class="tablinks" onclick="openCity(event, 'favorites')">Favorites</button>
            <button class="tablinks" onclick="openCity(event, 'applied-to')">Applied To</button>
          </div>

          {% block content %}
          <!-- ALL COURSES -->
          <div id="all-courses" class="tabcontent">

          

          {% for course in all_courses %}
          <div class = "course" id = "c2">
            <div class = "row">
              <h3><strong>CSCI {{ course.courseNumber}} {{ course.courseName }}</strong></h3>
              {% if course.status %}
                <button class = "status-button" id = "status-button2">Open</button>
              {% else %}
                <button class = "status-button" id = "closed-button">Closed</button>
              {% endif %}
            </div>
            <h4>{{ course.instructor }}</h4>
            <h4>
              {% for day in course.days %}
                {% if day == "0" %}
                  M
                {% endif %}
                {% if day == "1" %}
                  T
                {% endif %}
                {% if day == "2" %}
                  W
                {% endif %}
                {% if day == "3" %}
                  Th
                {% endif %}
                {% if day == "4" %}
                  F
                {% endif %}
                {% if day == "5" %}
                  Sat
                {% endif %}
                {% if day == "6" %}
                  Sun
                {% endif %}
              {% endfor %}
              {{ course.startTime|date:'H:i'}}-{{course.endTime|date:'H:i'}}</h4>
            {{ course.courseDescription }}
            <br>
            <br>
            <h4>For applying TAs</h4>
            {{course.relevantInfo}}
            <br>
            <br>
            <div class = "row" id = "info">
              Discussion Section: {{course.hasDiscussion|yesno:"Yes,No" }} &nbsp &nbsp &nbsp Number of TAs: {{course.numberOfTAs}} &nbsp &nbsp &nbsp Grading Meetings: {{course.homeworkGradedInMeetings|yesno:"Yes,No"}} &nbsp &nbsp &nbsp Number of Office Hours per Week: {{course.officeHoursPerWeek}}
              {% url 'studentApply' course.id as the_url %}
              {% if the_url %}
              <a class="button" id = "apply-button" href="{{ the_url}}">Apply</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          

          </div>
          
          <!-- FAVORITED COURSES -->
          <div id="favorites" class="tabcontent">
            <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI 3356 Software Engineering</strong></h3>
                <button class = "status-button" id = "status-button">Open</button>
                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>Marques Samary, Maira R</h4>
              <h4>MWF 10:00AM - 10:50AM</h4>
              <p>
                This course covers the basic life cycle of software development: requirements, design, implementation, testing, and 
                production release. Students will learn the theory related to software engineering, but they will also learn hands-on 
                how to create their own software. The main evaluation of the course is a team project that will simulate a small real project. 
                The project will be done using the framework Django (Python), the CSS Framework Bootstrap, among other technologies. 
                The project will be worth 50% of the grade, as well as 2 midterms, an exam, and a peer assessment (how your team members 
                evaluate the work you did).</p>

              <div class = "row" id = "info">
                Discussion Section: Yes &nbsp &nbsp &nbsp Number of TAs: 2 &nbsp &nbsp &nbsp Grading Meetings: Yes &nbsp &nbsp &nbsp Number of Office Hours per Week: 2
                <a class="button" id = "apply-button" href="application.html">Apply</a>

              </div>
            </div>
            
          </div>

          <!-- COURSES ALREADY APPLIED TO -->
          <div id="applied-to" class="tabcontent">
                        
            {% for course in applied_courses %}
            <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI {{ course.courseNumber}} {{ course.courseName }}</strong></h3>
                <button class = "status-button" id = "app-status">Awaiting Review</button>
              </div>
              <h4>{{ course.instructor }}</h4>
              <h4>
                {% for day in course.days %}
                  {% if day == "0" %}
                    M
                  {% endif %}
                  {% if day == "1" %}
                    T
                  {% endif %}
                  {% if day == "2" %}
                    W
                  {% endif %}
                  {% if day == "3" %}
                    Th
                  {% endif %}
                  {% if day == "4" %}
                    F
                  {% endif %}
                  {% if day == "5" %}
                    Sat
                  {% endif %}
                  {% if day == "6" %}
                    Sun
                  {% endif %}
                {% endfor %}
                {{ course.startTime|date:'H:i'}}-{{course.endTime|date:'H:i'}}</h4>
              {{ course.courseDescription }}
              <br>
              <br>
              <h4>For applying TAs</h4>
              {{course.relevantInfo}}
              <br>
              <br>
              <div class = "row" id = "info">
                Discussion Section: {{course.hasDiscussion|yesno:"Yes,No" }} &nbsp &nbsp &nbsp Number of TAs: {{course.numberOfTAs}} &nbsp &nbsp &nbsp Grading Meetings: {{course.homeworkGradedInMeetings|yesno:"Yes,No"}} &nbsp &nbsp &nbsp Number of Office Hours per Week: {{course.officeHoursPerWeek}}
              </div>
            </div>
            {% endfor %}
          </div>
          
          
          {% endblock %}
        </div>
        
      </div>
      
    </div>
    
    
    
  </body>
</html>