{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>TA Applications</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Import the webpage's javascript file -->
    <script src="{% static 'studentHome.js' %}" defer></script>
  </head>
  <body>
    <div class = "header-box">
      <div class = "row" id = "top-bar">
        <div class = "header"> Computer Science TA Application </div> 
        <button class = "button" id = "profile-button" value = "-1">My Profile</button>
        <!--<a class="button" id = "add-button" href="add-course.html">Add Course</a>-->
      </div>
      
      <div class = "row" id = "second-bar"> Keywords
          <input type="text" placeholder="Search..">
          <button class = "button" id = "search-button" value = "-1">Search</button>
      </div>
      
      <!-- Main Section -->
      <div class = "row" id = "third-bar">
        
        <div class = "column column-20">
          
          <div class = "row center">
            <button class = "button" id = "filter-button" value = "-1">Apply to Search</button>
          </div>
          
          <div class = "row center" id = "filters">
            <div class = "filters" id = "content">
            </div>
          </div>
        </div>
        
        
        <div class = "column column-80" id = "courses">
          <!-- Tabs -->
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'all-courses')" id = "defaultOpen">All Courses</button>
            <button class="tablinks" onclick="openCity(event, 'favorites')">Favorites</button>
            <button class="tablinks" onclick="openCity(event, 'applied-to')">Applied To</button>
          </div>

          <!-- ALL COURSES -->
          <div id="all-courses" class="tabcontent">

          <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI 1102 Computer Science II</strong></h3>
                <button class = "status-button" id = "status-button2">Open</button>
                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>Levear, Duncan A</h4>
              <h4>T Th 3:00AM - 4:15AM</h4>
              <p>
                In this course, the student will write programs that employ more sophisticated and efficient means of representing and 
                manipulating information. Part of the course is devoted to a continued study of programming. The principal emphasis, 
                however, is on the study of the fundamental data structures of computer science (lists, stacks, queues, trees, etc.). 
                Both their abstract properties and their implementations in computer programs and the study of the fundamental algorithms 
                for manipulating these structures. Students will use Java for programming.</p>

               <div class = "row" id = "info">
                Discussion Section: Yes &nbsp &nbsp &nbsp Number of TAs: 2 &nbsp &nbsp &nbsp Grading Meetings: Yes &nbsp &nbsp &nbsp Number of Office Hours per Week: 2
                <a class="button" id = "apply-button" href="application.html">Apply</a>
            </div>
            </div>
          
            <div class = "course" id = "c2">
              <div class = "row">
                <h3><strong>CSCI 3356 Software Engineering</strong></h3>
                <button class = "status-button" id = "status-button2">Open</button>
                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>Marques Samary, Maira R</h4>
              <h4>MWF 10:00AM - 10:50AM</h4>
              <p>
                This course covers the basic life cycle of software development: requirements, design, implementation, testing, and 
                production release. Students will learn the theory related to software engineering, but they will also learn hands-on 
                how to create their own software. The main evaluation of the course is a team project that will simulate a small real project. 
                The project will be done using the framework Django (Python), the CSS Framework Bootstrap, among other technologies. 
                The project will be worth 50% of the grade, as well as 2 midterms, an exam, and a peer assessment (how your team members 
                evaluate the work you did).</p>

              <div class = "row" id = "info">
                Discussion Section: Yes &nbsp &nbsp &nbsp Number of TAs: 2 &nbsp &nbsp &nbsp Grading Meetings: Yes &nbsp &nbsp &nbsp Number of Office Hours per Week: 2
                <a class="button" id = "apply-button" href="application.html">Apply</a>

              </div>
            </div>
          </div>
          
          <!-- FAVORITED COURSES -->
          <div id="favorites" class="tabcontent">
            <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI 3356 Software Engineering</strong></h3>
                <button class = "status-button" id = "status-button">Open</button>
                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>Marques Samary, Maira R</h4>
              <h4>MWF 10:00AM - 10:50AM</h4>
              <p>
                This course covers the basic life cycle of software development: requirements, design, implementation, testing, and 
                production release. Students will learn the theory related to software engineering, but they will also learn hands-on 
                how to create their own software. The main evaluation of the course is a team project that will simulate a small real project. 
                The project will be done using the framework Django (Python), the CSS Framework Bootstrap, among other technologies. 
                The project will be worth 50% of the grade, as well as 2 midterms, an exam, and a peer assessment (how your team members 
                evaluate the work you did).</p>

              <div class = "row" id = "info">
                Discussion Section: Yes &nbsp &nbsp &nbsp Number of TAs: 2 &nbsp &nbsp &nbsp Grading Meetings: Yes &nbsp &nbsp &nbsp Number of Office Hours per Week: 2
                <a class="button" id = "apply-button" href="application.html">Apply</a>

              </div>
            </div>
          </div>

          <!-- COURSES ALREADY APPLIED TO -->
          <div id="applied-to" class="tabcontent">
            <div class = "course" id = "c1">
              <div class = "row">
                <h3><strong>CSCI 3356 Software Engineering</strong></h3>
                <button class = "status-button" id = "app-status">Awaiting Review</button>
                <input class="star" type="checkbox" title="bookmark page">
              </div>
              <h4>Marques Samary, Maira R</h4>
              <h4>MWF 10:00AM - 10:50AM</h4>
              <p>
                This course covers the basic life cycle of software development: requirements, design, implementation, testing, and 
                production release. Students will learn the theory related to software engineering, but they will also learn hands-on 
                how to create their own software. The main evaluation of the course is a team project that will simulate a small real project. 
                The project will be done using the framework Django (Python), the CSS Framework Bootstrap, among other technologies. 
                The project will be worth 50% of the grade, as well as 2 midterms, an exam, and a peer assessment (how your team members 
                evaluate the work you did).</p>

              <div class = "row" id = "info">
                Discussion Section: Yes &nbsp &nbsp &nbsp Number of TAs: 2 &nbsp &nbsp &nbsp Grading Meetings: Yes &nbsp &nbsp &nbsp Number of Office Hours per Week: 2
              </div>
            </div>
          </div>
          
          
          
        </div>
        
      </div>
      
    </div>
    
    
    
  </body>
</html>